{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <h3>Weekly Calendar</h3>
  <hr>

{% for week in weeks %}
<h4>{{ week.week_number }}: {{ week.week_topic }}</h4>

{% for day in week.days|sort(attribute='id') %}
<div class="list-group">
<div class="list-group-item active">
{{ day.name }}</div>
{% for ass in day.assignments|sort(attribute='id') %}
<div class="list-group-item assignment">Due by the start of class: <a class="assignment" href="/assignments/{{ass.link_title}}">{{ass.title}}</a></div>
{% endfor %}

{% for reading in day.readings|sort(attribute='id') %}
<div class="list-group-item">
<p class="bibl">{{reading.last_name}}, {{reading.first_name}}. <a class="article-title" href="{{reading.link}}">{{reading.article_title}}</a>, {% if reading.book_title %}<span class="book-title">{{reading.book_title}}. {% endif %}</span> {{reading.pubplace}}: {{reading.publisher}}, {{reading.pubdate}}</p>
</div>
{% endfor %}

{% for activity in day.activities|sort(attribute='id') %}
<div class="list-group-item">
<p>{{activity.description}} ... <a href="{{activity.link}}"><strong>[[Read More]]</strong></a></p>
</div>
{% endfor %}

</div>
{% endfor %}

{% endfor %}
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
