{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
<div class="page-header">
      
      <div><h1>Welcome to My Website!</h1></div>
  
</div>
{% endblock %}

{% block content %}

<div id="contentholder" class="col-md-9">
<p>My name is Matt Lavin, and I'm a Clinical Assistant Professor of English at the University of Pittsburgh, and Director of the department's Digital Media Lab. My scholarly interests include the various ways that book history and digital humanities intersect, especially in terms of computational methods and humanities data. I'm also interested in American literature, the history of authorship, book history and technology, open access and copyright, and digital pedagogy.</p>
<p>I finished a PhD in English at the University of Iowa in 2012; a master's degree in American studies at Utah State University in 2006; and a bachelor's degree at St. Lawrence University in 2002.</p>
<p>In conjunction with my doctoral work on turn-of-the-century American authorship, I received the Lilly Library's Everett Helm Fellowship in 2010 and the University of Iowa's Frederick F. Seely Distinguished Dissertation Fellowship for Teaching and Research in 2011. My scholarly work has appeared in <em>Western American Literature</em>, <em>Cather Studies 9: Willa Cather and Modern Cultures</em>, <em>Studies in the Novel</em>, <em>Literary and Linguistic Computing</em>, and <em>Auto | Biography Studies</em>.</p>
<p>My dissertation, "Collaborative Momentum: The Author and the Middle Man in U.S. Literature and Culture, 1890-1940," is a study of 19th and 20th-century authorship that approaches the notion of authorial identity (its construction, development, etc.) by looking at collaborative labor associated with a rapidly expanding publishing industry. Each chapter focuses on a category of labor– and compares historical information about that category of labor with a close reading of that labor as depicted in a major literary text of the period.</p>
<p>From 2012 to 2013, I was a Council for Library and Information Resources (CLIR) Postdoctoral Fellow with the University of Nebraska-Lincoln's Center for Digital Research in the Humanities.</p>
<p>From 2013 to 2015, I was Associate Program Coordinator of a Mellon-funded digital humanities initiative at St. Lawrence University in Canton, NY titled "Crossing Boundaries: Re-envisioning the Humanities for the 21st Century."</p>
<p>For more information, have a look at my <a href="https://portfolio.matthew-lavin.com/cv">CV</a>.</p>

</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
