<div class="col-md-12">
    <div class="list-group"><h4>{{basics.course_name}}, {{basics.semester_year}}</h4>

        <div class="list-group-item"><a href="/calendar">Weekly Calendar</a></div>
        <div class="list-group-item"><a href="/assignments">Assignments</a></div>
        <div class="list-group-item"><a href="/readings">Readings</a></div>
        <div class="list-group-item"><a href="/bibliography">Bibliography</a></div>
        <div class="list-group-item"><a href="/logout">Logout</a></div>
</div>
</div>
