PyMySQL==1.1.1
SQLAlchemy==2.0.23
Flask==3.0.0
Flask-Admin==1.6.1
Flask-BabelEx==0.9.4
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==2.3.0
Flask-Security==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
GitHub-Flask==3.2.0
Pandas
requests[security]
WTForms==3.1.1






