li>p:hover{
    cursor:pointer;
    color: #fff;
    background-color: #8db9df;
}
li>p{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: relative;
    text-decoration: none;
}
li.active>p{
    color: #fff;
    background-color: #428bca;
}
body{
    padding-top: 45px;
}
.navbar-inverse {
    margin-bottom: 15px;
}
.sidebar{
    top: 50px;
}
#icon
{
    background: url('/static/favicon.png') no-repeat;
    background-size: auto 100%;
    margin-top: 5px;
    height: 40px;
    width: 20px;
    -webkit-filter: invert(75%);
    filter: invert(75%);
}
#top{
    margin-top: 45px;
}
.work_link, .activity_link, .unclaimed_link,  #reset_works, #reset_activity, #reset_unclaimed
{
    display:none;
}
#background{
    background-color: #2c3e50;
    padding-top: 20px;
    padding-bottom: 20px;
}
#mceu_16{
    margin-top: 15px;
}
#ocr_edit, #page_image, #instructions{
    background-color: white;
}

.ocr_textarea{
    resize: none;
    width: 100%;
    height: 75%;
}
.page_image_frame {
    overflow: hidden;
    width: 100%;

}
.page_image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#plus, #minus, #up, #down, #left, #right{
    height:50px;
    width:50px;
    position: absolute;
    z-index: 5;

}
#plus{
    top: 10;
    left: 70;
}
#minus{

    top: 10;
    left: 15;
}
#up, #down, #left, #right{
    width: 30px;
    height: 30px;
}
#up, #down {
    left: 155;
}
#left, #right {
    top: 40;
}
#up{
    top: 10;
}
#down {
    top: 70;
}
#left{
    left:125;
}
#right{
    left:185;
}
.glyphicon{
    font-size:32;
    text-align: center;
    color: #2c3e50;
    background-color: #D1D0CE;
    border-radius: 50%;
}
.glyphicon:hover{
    background-color: white;
}
#plus>.glyphicon{
    font-size:48;
}
#minus>.glyphicon{
    font-size:48;
}
.padded {
    padding: 10px;
}
