{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <h2><big>Book Reviews</big>, <em>The New York Times</em></h2>
{% if nyt_id %}
<div>Headline: {{row.headline}}</div>
<div>Word Count: {{row.word_count}}</div>
<div>ID: {{ nyt_id }}
<hr>
<div>
<a href="{{endpoint}}" target="blank"><button type="button" class="btn btn-primary btn-lg">Open Link in New Tab</button></a>
</div>
<hr>
<div>
<a href="{{pdf_link}}" target="blank"><button type="button" class="btn btn-info btn-lg">Straight to PDF</button></a>
</div>
<div id="type_accordion">
<hr>
<div>
	<button type="button" id="review" class="review_type btn btn-success btn-lg">Single Work Review</button>
</div>
<hr>
<div>
	<button type="button" id="not_review" class="review_type  btn btn-danger btn-lg">Not Single Work Review</button>
</div>
<hr>
</div>

<div id="gender_accordion">
<hr>
<div>
	<button type="button" id="previous" class="p_s btn btn-warning btn-lg">Go Back</button>
</div>
<hr>
<div>
<button type="button" id="labeled_female" class="gender_data btn btn-success btn-lg">Presumed Gender(s) Female</button>
</div>
<hr>
<div>
	<button type="button" id="labeled_male" class="gender_data btn btn-danger btn-lg">Presumed Gender(s) Male</button>
</div>

<hr>
<div>
<button type="button" id="labeled_dual" class="gender_data btn btn-info btn-lg">Presumed Genders Mixed</button>
</div>
<hr>
<div>	
	<button type="button" id="labeled_unknown" class="gender_data btn btn-warning btn-lg">Gender Unknown or Not Used</button>
</div>	
<hr>
</div>

<div id="sub_accordion">
<hr>
<div>
	<button type="button" id="previous" class="p_s btn btn-warning btn-lg">Go Back</button>
</div>

<hr>
<div>
<button type="button" id="labeled_multi" class="sub_data btn btn-success btn-lg">Multi-work Review</button>
</div>
<hr>
<div>
	<button type="button" id="labeled_brief" class="sub_data btn btn-danger btn-lg">Brief or Mostly Quotes Review</button>
</div>

<hr>
<div>
<button type="button" id="labeled_not_review" class="sub_data btn btn-info btn-lg">Non-Review Content</button>
</div>
<hr>
<div>
<button type="button" id="labeled_cluster" class="sub_data btn btn-warning btn-lg">Cluster of Reviews</button>
</div>
<hr>
</div>


<div id="summary_accordion">
<hr>
<div>
	<button type="button" id="start_over" class="p_s btn btn-warning btn-lg">Start Over</button>
</div>
<hr>
<div id="review_type"></div>
<hr>
<div id="gender_label"></div>
<form name="update_meta" method="POST" action="/update_meta/{{ nyt_id }}">
	<input id="review_type_data" name="review_type_data" type="hidden" value="">
	<input id="gender_label_data" name="gender_label_data" type="hidden" value="">
	<hr>
	<div><input id="submit" class="btn btn-primary btn-lg" type="submit" value="Submit"> 
	<hr>
</div>
</form>
<!-- <div id="image-gallery-3" class="cf">
    <img src="/static/page_images/{{nyt_id}}/{{nyt_id}}-1.png" data-high-res-src="/static/page_images/{{nyt_id}}/{{nyt_id}}-1.png" alt="" class="pannable-image">
</div>
-->
{% endif %}
</div>
{% endblock %}

{% block footer %}
{% if nyt_id %}
<script>
$("#sub_accordion").hide()
$("#gender_accordion").hide();
$("#summary_accordion").hide();

$(".p_s").click(function(){
    $("#summary_accordion").hide();
    $("#gender_accordion").hide();
    $("#sub_accordion").hide();
    $("#type_accordion").show();
});
$("#review").click(function() {
	var review = "single_focus";
	$('input[name="review_type_data"]').val(review);
    $("#type_accordion").hide();
    $("#summary_accordion").hide();
    $("#gender_accordion").show();
    $("#review_type").html(review);

});
$( "#not_review" ).click(function() {
	$('input[name="gender_label_data"]').val("na");
	$("#type_accordion").hide();
	$("#gender_accordion").hide();
    $("#sub_accordion").show();
    $("#gender_label").html("na")
});


$("#labeled_not_review").click(function() {
	var sub = "not_review";
	$('input[name="review_type_data"]').val(sub);
	$("#review_type").html(sub);
});	

$("#labeled_cluster").click(function() {
	var sub = "cluster";
	$('input[name="review_type_data"]').val(sub);
	$("#review_type").html(sub);
});	

$("#labeled_multi").click(function() {
	var sub = "really_multi";
	$('input[name="review_type_data"]').val(sub);
	$("#review_type").html(sub);
});	

$("#labeled_brief").click(function() {
	var sub = "brief";
	$('input[name="review_type_data"]').val(sub);
	$("#review_type").html(sub);
});	

$( "#labeled_male" ).click(function() {
	var gender_label = "m";
	$('input[name="gender_label_data"]').val(gender_label);
	$("#gender_label").html(gender_label);
});	
$( "#labeled_female" ).click(function() {
	var gender_label = "f";
	$('input[name="gender_label_data"]').val(gender_label);
	$("#gender_label").html(gender_label);
});	
$( "#labeled_dual" ).click(function() {
	var gender_label = "dual";
	$('input[name="gender_label_data"]').val(gender_label);
	$("#gender_label").html(gender_label);
});	
$( "#labeled_unknown" ).click(function() {
	var gender_label = "none";
	$('input[name="gender_label_data"]').val(gender_label);
	$("#gender_label").html(gender_label);
});	

$(".sub_data").click(function(){
	$("#sub_accordion").hide()
	$("#type_accordion").hide();
    $("#summary_accordion").show();
});

$(".gender_data").click(function(){
    $("#gender_accordion").hide();
    $("#type_accordion").hide();
    $("#summary_accordion").show();
});
</script>
{% endif %}
{% endblock %}
