{% extends 'base.html' %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="alert alert-success">Success Updating {{nyt_id}}</h3>
      <hr>
      <a href="/"><button type="button" class="btn btn-primary btn-lg">Keep Going</button></a>
      <hr>
      <a href="/f"><button type="button" class="btn btn-success btn-lg">Show Me One with a Likely Female Author</button></a>
      <hr>
      <a href="/m"><button type="button" class="btn btn-info btn-lg">Show Me One with a Likely Male Author</button></a>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
