{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
<h3>Assignments</h3>

<h4>Teaching Philosophy</h4>
  <p>Due: In class 9-8-16 (please print a hard copy for partner to read).</p>
  <p>A teaching philosophy is "a narrative that includes: your conception of teaching and learning," a "description of how you
    teach," and "justification for why you teach that way." (See http://gradschool.cornell.edu/career-services/teaching-philosophy-statement for more information).
    It's a curious sort of document because its primary audience is usually a hiring committee of some kind. However, it's also a
    really interesting kind of document because it forces educators to ask some seriously important questions
    about the teaching practices they value, and why. For this assignment, I would like you to write a 1-2 page,
    single-spaced (absolutely not longer) document desribing both your teaching philosophy in general, and your teaching
    philosophy as it pertains specifically to the digital. If you haven't taught before, think of this as an aspirational
    document. What do you value as a teacher? What kinds of goals do you have for your classroom?
    Likewise, if you haven't taught anything digital yet, how do you think these types of subjects should be taught?
    Bring a printed copy to class, as we'll be pairing off to discuss what we wrote and what kinds of decisions we had to make
    to author these documents.

  <h4>Skills Development Proposal</h4>
    <p>Due: 10-20-16 by email</p>
    <p>This will be a traditional project proposal (2 paragraphs, one on the field, one on what you will do to contribute to the field).
      You will pitch a topic for your skills development assignment and explain why it has potential to work well with a seminar paper.  I will meet one-on-one with students (by appointment)
      to discuss their project ideas once I've had a chance to read these and generate feedback.</p>

    <h4>Skills Development Assignment</h4>
    <p>Due: 11-17-16 by email</p>
      <p>This is the assignment for which you will either thank me profusely (say, in your course evaluations) or curse my name, and then later decide I was totally right.
        The idea of the assignment is to pick a tool, approach, or technology (something specific with lots of room for development) and spend 20 hours learning its ins and outs.
        You'll write a proposal for your tool, approach, or technology (see above) and make the case for it as a topic. You'll spend 20 hours engaging in deliberate practice,
        learning how to do stuff, raising questions, experiencing its textures and complexities. You will keep a log accounting for how you spent your time. You will write a 4-5 page
        critical analysis of the tool, approach, or technology, focusing especially on your engagement with it.
      </p>

      <h4>Lesson Plan Assignment</h4>
      <p>Due: by the end of the day Tuesday, 11-29-16 by email</p>
      <p>NOTE: I'm asking you to turn thes ein early so we can workshop them</p>
      <p>Your lesson will focus on a digital tool. I'll hand out a template for this assignment. It will ask you to synthesize theory and practice.
        </p>

        <h4>Seminar Paper</h4>
        <p>Due: 12-15-16 by email (and possibly digital project link)</p>
        <p>You will have two options for this one: a traditional, article-length seminar paper, or a conference-length paper with a digital project/module component.
          I'll say more about this assingment and your options as we get closer to the end of the term, but the basic idea here is that you'll have the opportunity to
          build on the work you did for the skills development assignment.
          </p>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
