{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

<div class="col-md-12">
<h3>Everybody's Bibliography</h3>
    <p>Soon to come. This page will feature a collection of digital pedagogy resources. The title is a very clever Gertrude Stein joke. Please contain your laughter so that we might all proceed without distraction.</p>

<h3>Zotero Resources</h3>
<a href="https://www.youtube.com/watch?v=kqFiCj1XV-E">Using Zotero for academic writing</a>
<a href="https://www.youtube.com/playlist?list=PLE9ED5A77E41FFED9">Meet Zotero - Archived Zotero videos from 2009-2010</a>
<a href="https://www.youtube.com/watch?v=aMkccKZ0Hio&list=PLF5FE3A8AB1C44CCE">Video: Zotero Word Plugin</a>
<a href="https://www.youtube.com/watch?v=VUs7H9YydFQ">Creating a Zotero Report and Saving as HTML File</a>

<h3>Thursday, November 10, 2016</h3>
<h4>Bibliography, Citations, and Works Cited in Zotero</h4>
    <ul>
        <li>Review by watching "Using Zotero for academic writing" (and others if needed)</li>
        <li>Competencies:
            <ul>
                <li>Add a resource</li>
                <li>Hand-correct a resource</li>
                <li>Create a collection</li>
                <li>Move an item to a collection</li>
            </ul>
        </li>
        <li>Bibliography and Export<li>
        <li>Competencies:
            <ul>
                <li>Export notes from selected</li>
                <li>Create bibliography from items</li>
                <li>.rtf format to word</li>
                <li>.html to web</li>
                <li>Generate report from items</li>
            </ul>
        </li>
        <li>Word plugin<li>
        <li>Competencies:
            <ul>
                <li>Insert citation</li>
                <li>Edit a citation</li>
                <li>Refresh a citation</li>
                <li>Generate works cites from citations</li>
                <li>Switch citation styles aftet the fact</li>
            </ul>
        </li>
<h4>Activity! (Work individually or in pairs to test competencies)</h4>
    <ul>
        <li>Add items for our readings for tonight to new collection of your own</li>
        <li>Hand-correct citations if necessary</li>
        <li>In a new Word document, type one quotation or idea you'd cite from each source</li>
        <li>Use add-on to add parenthetical citations (MLA) for each quotation</li>
        <li>Generate MLA-format Works Cited</li>
        <li>Convert all to Chicago style 16th edition (full note, endnote) format</li>
    </ul>

<h4>Activity! (Work as a team to integrate gamification principles)</h4>
    <ul>
        <li>Discussion of crucial gamification principles</li>
        <li>As a class, brainstorm a lesson plan that unifies Zotero and gamification. Your lesson plan might include homework, a major assignment, or even take place across an entire unit</li>
        <li>Examine <a href="protected/lp_lavin.docx">Matt's sample lesson plan</a>, Matt's lesson plan <a href="https://github.com/mjlavin80/book_detectives">repository</a>, <a href="protected/lp_template.pdf">lesson plan template</a>, and other lesson plans</li>
        <li>Generate for imagined Zotero lesson: "Subject Areas or Affiliated Unit", "Crux or Essential Question of the Lesson", "Learning Objectives", and "Summary"</li>
        <li>If time: discuss how the efficacy of the lesson would be best assessed</li>
    </ul>

<h3>Thursday, November 17, 2016</h3>
<p>To finalize by 11/10</p>
<h3>Thursday, December 1, 2016</h3>
<p>To finalize by 11/10</p>
<h3>Thursday, December 8, 2016</h3>
<p>To finalize by 11/10</p>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
