{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div class="col-md-12"><h3>Weekly Calendar</h3>
        <hr>
</div>

<div class="col-md-12">

<div class="list-group">
<p class="list-group-item active">Week 1, 9-1-16: We Don't Meet Often Enough to Waste This Week</p>
<p class="list-group-item">Discussion of syllabus</p>
<p class="list-group-item">Lecture by Matt Lavin</p>
<p class="list-group-item">Discussion of student backgrounds and goals for the semester</p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 2, 9-8-16: Educational Technology and Neoliberal Utopianism</p>
<p class="list-group-item">Excerpt from <em>Now You See It</em></p>
<p class="list-group-item">Excerpt from <em>Reinventing Higher Education: The Promise of Innovation</em></p>
<p class="list-group-item">Losh, <em>The War on Learning</em></p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 3, 9-15-16: “Kids Nowadays” and Technological Dystopias</p>
<p class="list-group-item">Excerpt from <em>The Tyranny of Email</em></p>
<p class="list-group-item">Carr, "Is Google Making Us Stupid?"</p>
<p class="list-group-item">Hayes and Janric, "Who is Really in Charge of Contemporary Education?"</p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 4, 9-22-16: “Kids Nowadays,” Students, and Employees</p>
<p class="list-group-item"><em>Grown Up Digital</em></p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 5, 9-29-16: Online Education, Hybrid Pedagogy, and Blended Learning</p>
<p class="list-group-item"><em>Title</em></p>

</div>

<div class="list-group">
<p class="list-group-item active">Week 6, 10-6-16: Digital Literacies, Competencies, and Skills</p>
<p class="list-group-item"><em>Title</em></p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 7, 10-13-16: Digital Humanities Pedagogy -- History and Archives</p>
<p class="list-group-item"><em>Title</em></p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 8, 10-20-16: Digital Humanities Pedagogy -- Literature and Linguistics</p>
<p class="list-group-item"><em>Title</em></p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 9, 10-27-16: Digital Humanities Pedagogy -- Digital Studies and Digital Composition
</p>
<p class="list-group-item"><em>Title</em></p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 10, 11-3-16: Digital Humanities Pedagogy -- Creative Writing, Media, and Film</p>

<div class="list-group-item">
    <p>NO CLASS: Matt Lavin will be out of town 11/2-11/4</p>
    <p>MODEST SUGGESTION: This could be a great week to work on your 20 hours</p></div>
</div>

<div class="list-group">
<p class="list-group-item active">Week 11, 11-10-16: Digital Skills Case Studies</p>
<p class="list-group-item"><em>Title</em></p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 12, 11-17-16: Team- and Project-based Learning</p>
<p class="list-group-item"><em>Title</em></p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 13, 11-24-16</p>
<p class="list-group-item">THANKSGIVING--NO CLASS</p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 14, 12-1-16: Critical Making and Fablabs</p>
<p class="list-group-item"><em>Title</em></p>
</div>

<div class="list-group">
<p class="list-group-item active">Week 14, 12-8-16: Farewells</p>
<p class="list-group-item"><em>Title</em></p>
</div>

</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
