{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div class="col-md-12"><h3>Weekly Calendar</h3>
        <hr>
</div>

<div class="col-md-12">

<div class="list-group">
<div class="list-group-item active">
    Week 1, 9-1-16: We Won't Meet Often Enough to Lose This Week</div>
<div class="list-group-item">
    <p>Discussion of syllabus</p>
    <p>Discussion of student backgrounds and goals for the semester
    <p>Job advertisements</p>
</div>

</div>

<div class="list-group">
<div class="list-group-item active">Week 2, 9-8-16: Educational Technology and Neoliberal Utopianism</div>
<div class="list-group-item assignment">Due by start of class: <a class="assignment" ref="#">Teaching Philosophy</a></div>
<div class="list-group-item">
<p>Excerpt from <a class="reading book" href="#">Now You See It</a></p>
<p>Excerpt from <a class="reading book" href="#">Reinventing Higher Education: The Promise of Innovation</a></p>
<p>Losh, <a class="reading book" href="#">The War on Learning</a></p>
</div>

</div>

<div class="list-group">
<div class="list-group-item active">Week 3, 9-15-16: “Kids Nowadays” and Technological Dystopias</div>
<div class="list-group-item"><p>Excerpt from <a class="reading book" href="#">The Tyranny of Email</a></p>
<p>Carr, <a class="reading article" href="#">"Is Google Making Us Stupid?"</a></p>
<p>Hayes and Janric, <a class="reading article" href="#">"Who is Really in Charge of Contemporary Education?"</a></p>
</div>

<div class="list-group">
<div class="list-group-item active">Week 4, 9-22-16: “Kids Nowadays,” Students, and Employees</div>
<div class="list-group-item"><a class="reading book" href="#">Grown Up Digital</a></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 5, 9-29-16: Online Education, Hybrid Pedagogy, and Blended Learning</div>

<div class="list-group-item">
    <p>Breslow, Pritchard, et. al, <a class="reading article" href="#">"Studying learning in the worldwide classroom research into edX's first MOOC"</a></p>
    <p>Selections from <em>Hybrid Pedagogy</em>:<a class="reading article" href="http://www.digitalpedagogylab.com/hybridped/hybridity-pt-1-virtuality-and-empiricism/">"Virtual Reality and Empiricism"</a>,
    <a class="reading article" href="http://www.digitalpedagogylab.com/hybridped/hybridity-pt-2-what-is-hybrid-pedagogy/">"What is Hybrid Pedagogy?"</a>,
    <a class="reading article" href="http://www.digitalpedagogylab.com/hybridped/hybridity-pt-3-what-does-hybrid-pedagogy-do/">"What Does Hybrid Pedagogy Do?"</a></p>
    <p>Shantakumari and Sajith, <a class="reading article" href="#">"Blended Learning: The Student Viewpoint"</a></p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 6, 10-6-16: Digital Literacies, Competencies, and Skills</div>
<div class="list-group-item"><a class="reading book" href="#">Title</a></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 7, 10-13-16: Digital Humanities Pedagogy -- History and Archives</div>
<div class="list-group-item"><a class="reading book" href="#">Title</a></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 8, 10-20-16: Digital Humanities Pedagogy -- Literature and Linguistics</div>
<div class="list-group-item"><a class="reading book" href="#">Title</a></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 9, 10-27-16: Digital Humanities Pedagogy -- Digital Studies and Digital Composition
</div>
<div class="list-group-item"><a class="reading book" href="#">Title</a></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 10, 11-3-16: Digital Humanities Pedagogy -- Creative Writing, Media, and Film</div>

<div class="list-group-item">
    <p>NO CLASS: Matt Lavin will be out of town 11/2-11/4</p>
    <p>MODEST SUGGESTION: This could be a great week to work on your 20 hours</p></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 11, 11-10-16: Digital Skills Case Studies</div>
<div class="list-group-item"><a class="reading book" href="#">Title</a></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 12, 11-17-16: Team- and Project-based Learning</div>
<div class="list-group-item"><a class="reading book" href="#">Title</a></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 13, 11-24-16</div>
<div class="list-group-item">THANKSGIVING--NO CLASS</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 14, 12-1-16: Critical Making and Fablabs</div>
<div class="list-group-item">
    <p><a class="reading article" href="#">Blikstein, "Digital Fabrication and ’Making’ in Education: The Democratization of Invention"</a></p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 14, 12-8-16: Farewells</div>
<div class="list-group-item"><a class="reading book" href="#">Title</a></div>
</div>

</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
