<h4>Lesson Plan Assignment</h4>
<p>Due: by the end of the day Tuesday, 11-29-16 by email</p>
<p>NOTE: I'm asking you to turn these in early so we can workshop them</p>
<p>The lesson plan assignment asks you to integrate our study of pedagogy, digital tools,
and various humanities fields in the form of an imagined lesson plan for any course of your choosing.
You will develop an imaginary lesson and create a lesson plan for it, using the lesson plan template that I have created.</p>
<p>This template is not designed to be perfect. There are various ways to write lesson plans and, often,
    practical conerns like time and energy willdictate how much planning you do. I'm sure we all know this in principle.
    However, I have designed this template by looking at a lot of options and combining them in a way that
    represents some crucial things you should always at least think about when preparing for class. Plus, this template has on it
    all of the things you are required to think about for this assigment.  
  <p><a href-"/assignments/lesson_plan">Read More</a></p>
