
<h4>Teaching Philosophy</h4>
  <p>Due: In class 9-8-16 (please print a hard copy for partner to read).</p>
  <p>A teaching philosophy is "a narrative that includes: your conception of teaching and learning," a "description of how you
    teach," and "justification for why you teach that way." (See http://gradschool.cornell.edu/career-services/teaching-philosophy-statement for more information).
    It's a curious sort of document because its primary audience is usually a hiring committee of some kind. However, it's also a
    really interesting kind of document because it forces educators to ask some seriously important questions
    about the teaching practices they value, and why. For this assignment, I would like you to write a 1-2 page,
    single-spaced (absolutely not longer) document desribing both your teaching philosophy in general, and your teaching
    philosophy as it pertains specifically to the digital. If you haven't taught before, think of this as an aspirational
    document. What do you value as a teacher? What kinds of goals do you have for your classroom?
    Likewise, if you haven't taught anything digital yet, how do you think these types of subjects should be taught?
    Bring a printed copy to class, as we'll be pairing off to discuss what we wrote and what kinds of decisions we had to make
    to author these documents.
