

  <h4>Skills Development Proposal</h4>
    <p>Due: 10-20-16 by email</p>
    <p>This will be a traditional project proposal (2 paragraphs, one on the field, one on what you will do to contribute to the field).
      You will pitch a topic for your skills development assignment and explain why it has potential to work well with a seminar paper.  I will meet one-on-one with students (by appointment)
      to discuss their project ideas once I've had a chance to read these and generate feedback.</p>
