<h4>Seminar Paper and Digital Project Component</h4>
<p>Due: 12-15-16 by email (with digital project link if applicable)</p>

<h5>Assignment Description</h5>

<p>Typically seminar papers ask you to develop an individual, analytical contribution to the course's field of study, in dialogue with the scholarly materials
    presented in the class. Because our focus has been both critical and practical, our final assignment will focus on synthesis.
    Unlike the skills assignment, which focused on process and self-reflection, the final assignment should formulate some conclusions.
    These conclusions might be tentative in nature but should nonetheless be clearly articulated and well supported by appropriate sources.
    That said, it is assumed that your final paper/project will build upon the skills you developed for previous assignments.
</p>
<p>You have two options for this assignment: a more traditional, article-length seminar paper, or a conference-length paper with a digital project/module component.
    In either case, the paper component should apply a principle of digital pedagogy to a new subject matter or engage critically with a question central to digital pedagogy.
    Topics related to our readings are of course the most obvious way to intervene in the digital pedagogy conversation as we have framed it, but branching off in
    some other direction is certainly possible as well.

    In the case of the traditional, article-length seminar paper, your focus should be on deeper engagement with sources and more careful defense of your paper's central argument.
    For the conference-length paper with a digital project/module component, the digital project/module should exemplify or implement something important that is situated
    rhetorically in your conference-length paper. Below I have outlined the specific requirements for either option.</p>

<h5>Requirements for Article-length Paper</h5>
<p>These requirements, I suspect, will be familiar to you. Papers should be double-spaced and presented in a consistent (approximately 12pt) font/typeface, with clear page numbering and a
    consistent style of citation (preferably MLA). Papers should be 18 to 25 pages in length, excluding works cited. Coherence of argument, engagement with sources,
    and defense of main points will be the primary evaluation criteria. Papers should be turned in by email on or before the due date, and should be in
    Microsoft Word or Open Office format. Please do not submit pdfs.
</p>
<h5>Requirements for Conference-length Paper</h5>
<p>
Requirements for the conference-length paper will mirror the article-length paper, excepting the length requirement. These should be 8-12 pages in length.
In addition, conference-length papers should make direct reference to your digital project/module, and your works cited page should cite the project as a source.
Because your digital project/module is likely to emphasize praxis over pedagogical theory, there will be additional room with this version of the assignment to site so-called
gray literature (blogs, discussion boards, social media, etc.) relating to your topic.
</p>
<h5>Requirements for Digital Project Component</h5>
<p>Imagine the digital project component as a living, working implementation of a pedagogical principle or learning goal.
    For example, a project might take the form of an unused fictitious course website with a blended learning module. Or a similarly fictitious course website
    with generated content from students to demonstrate how you as an instructor would engage in responding to publicly to student work. Perhaps you plan
    to create a series of student questionnaires using Google forms, or maybe you plan to create a course wiki and populate it with several examples of effective,
    carefully-cited entries. If your paper revolves around a key question, perhaps your module will present the same assignment in three diferent forms and
    evaluate each option's efficacy. Many other templates are possible here, but the crucial point is that the digital materials should be accessible via a live link
    and clearly related to/contextualized by your written work.
</p>
