    <h4>Skills Development Assignment</h4>
    <p>Due: 11-17-16 by email</p>
      <p>This is the assignment for which you will either thank me profusely (say, in your course evaluations) or curse my name, and then later decide I was totally right.
        The idea of the assignment is to pick a tool, approach, or technology (something specific with lots of room for development) and spend 20 hours learning its ins and outs.
        You'll write a proposal for your tool, approach, or technology (see above) and make the case for it as a topic. You'll spend 20 hours engaging in deliberate practice,
        learning how to do stuff, raising questions, experiencing its textures and complexities. You will keep a log accounting for how you spent your time. You will write a 4-5 page
        critical analysis of the tool, approach, or technology, focusing especially on your engagement with it.
      </p>
