<div class="col-md-12">

<div class="list-group">
<div class="list-group-item active">
    Week 1, 9-1-16: We Won't Meet Often Enough to Lose This Week</div>
<div class="list-group-item">
    <p class="nonreading">Discussion of syllabus</p>
    <p class="nonreading">Discussion of student backgrounds and goals for the semester
    <p class="nonreading">Job advertisements:

<a href="https://chroniclevitae.com/jobs/0000328476-01">1, </a>
<a href="https://chroniclevitae.com/jobs/0000328935-01">2, </a>
<a href="https://chroniclevitae.com/jobs/0000328453-01">3, </a>
<a href="https://chroniclevitae.com/jobs/0000327149-01">4, </a>
<a href="https://chroniclevitae.com/jobs/0000326243-01">5, </a>
<a href="https://chroniclevitae.com/jobs/0000326101-01">6, </a>
<a href="https://chroniclevitae.com/jobs/0000324802-01">7, </a>
<a href="https://chroniclevitae.com/jobs/0000324799-01">8.</a>
</p>
</div>

</div>

<div class="list-group">
<div class="list-group-item active">Week 2, 9-8-16: Neoliberal Utopianism and the Technological Jeremiad</div>
<div class="list-group-item assignment">Due by start of class: <a class="assignment" ref="coming_soon">Teaching Philosophy</a></div>
<div class="list-group-item">
<p class="bibl">Davidson, <a class="article-title" href="coming_soon">"Project Classroom Makeover," </a><span class="book-title">Now You See It</span></p>
<p class="bibl">Stokes, <a class="article-title" href="coming_soon">"What Online Learning Can Teach Us about Higher Education,"</a><span class="book-title"> Reinventing Higher Education: The Promise of Innovation</span></p>
<p class="bibl">Carr, <a class="article-title" href="http://www.theatlantic.com/magazine/archive/2008/07/is-google-making-us-stupid/306868/">"Is Google Making Us Stupid?"</a></p>
<p class="bibl">Freeman, <a class="article-title" href="coming_soon">"This is Your Brain on Email,"</a><span class="book-title"> The Tyranny of Email</span></p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 3, 9-15-16: Critiques of Neloliberalism</div>
<div class="list-group-item">
<p class="bibl">Persel, <a class="article-title" href="coming_soon">"Digital Technologies and Competing Models of Higher Education,"</a><span class="book-title"> The McDonaldization of Higher Education</span></p>
<p class="bibl">Hayes and Jandric, <a class="article-title" href="protected/hayes_jandric_neoliberal.pdf">"Who is Really in Charge of Contemporary Education?"</a></p>
<p class="bibl">Singh, <a class="article-title" href="coming_soon">"Neoliberalism, Critical Pedagogy, and Education"</a></p>
<p class="bibl">Losh and Jenkins, <a class="book-title" href="protected/losh_public_education.pdf">"Can public education coexist with participatory culture?"</a></p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 4, 9-22-16: “Kids Nowadays”: Students, and Employees</div>
<div class="list-group-item">
    <p class="bibl">Junco, <a class="article-title" href="coming_soon">"Pedagogy with the Net Generation"</a></p>
    <p class="bibl">Tapscott, <a class="book-title" href="coming_soon">Grown Up Digital</a></p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 5, 9-29-16: Online Education, Hybrid Pedagogy, and Blended Learning</div>

<div class="list-group-item">
    <p class="bibl">Breslow, Pritchard, et. al, <a class="article-title" href="coming_soon">"Studying learning in the worldwide classroom research into edX's first MOOC"</a></p>
    <p class="bibl">Selections from <em>Hybrid Pedagogy</em>:<a class="article-title" href="http://www.digitalpedagogylab.com/hybridped/hybridity-pt-1-virtuality-and-empiricism/">"Virtual Reality and Empiricism"</a>,
    <a class="article-title" href="http://www.digitalpedagogylab.com/hybridped/hybridity-pt-2-what-is-hybrid-pedagogy/">"What is Hybrid Pedagogy?"</a>,
    <a class="article-title" href="http://www.digitalpedagogylab.com/hybridped/hybridity-pt-3-what-does-hybrid-pedagogy-do/">"What Does Hybrid Pedagogy Do?"</a></p>
    <p class="bibl">Shantakumari and Sajith, <a class="article-title" href="coming_soon">"Blended Learning: The Student Viewpoint"</a></p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 6, 10-6-16: Digital Literacies, Competencies, and Skills</div>
<div class="list-group-item">
    <p class="bibl">Lombard, <a class="article-title" href="coming_soon">"Information Fluency: Not Information Literacy 2.0"</a></p>
    <p class="bibl">Mahony and Pierazzo, <a class="article-title" href="http://books.openedition.org/obp/1639">"Teaching Skills or Teaching Methodology?"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
    <p class="bibl">Clement, <a class="article-title" href="http://books.openedition.org/obp/1656">"ultiliteracies in the Undergraduate Digital Humanities Curriculum: Skills, Principles, and Habits of Mind,"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 7, 10-13-16: Digital Humanities Pedagogy -- History and Archives</div>
<div class="list-group-item">
    <p class="bibl">Wosh, Hajo and Katz, <a class="article-title" href="http://books.openedition.org/obp/1620">"Teaching Digital Skills in an Archives and Public History Curriculum,"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
    <p class="bibl">Johanson, Sullivan, Reiff et al. <a class="article-title" href="http://books.openedition.org/obp/1626">"Teaching Digital Humanities through Digital Cultural Mapping,"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
    <p class="bibl">Sternfeld, <a class="article-title" href="http://books.openedition.org/obp/1645">"Pedagogical Principles of Digital Historiography,"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
    <p class="bibl">Kuhn and Callahan, <a class="article-title" href="http://books.openedition.org/obp/1647">"Nomadic Archives: Remix and the Drift to Praxis,"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 8, 10-20-16: Digital Humanities Pedagogy -- Literature and Composition</div>
<div class="list-group-item assignment">Due by start of class: <a class="assignment" ref="coming_soon">Skills Development Proposal</a></div>
<div class="list-group-item">
    <p class="bibl">Bjork, <a class="article-title" href="http://books.openedition.org/obp/1624">"Digital Humanities and the First-Year Writing Course,""</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
    <p class="bibl">Sinclair and Rockwell, <a class="article-title" href="http://books.openedition.org/obp/1644">"Teaching Computer-Assisted Text Analysis: Approaches to Learning New Methodologies,"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
    <p class="bibl">Kill, <a class="article-title" href="http://books.openedition.org/obp/1658">"Teaching Digital Rhetoric: Wikipedia, Collaboration, and the Politics of Free Knowledge,"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
    <p class="bibl">Kirschenbaum, <a class="article-title" href="http://www.csee.umbc.edu/~hillol/NGDM07/abstracts/talks/MKirschenbaum.pdf">"The Remaking of Reading: Data Mining and the Digital Humanities"</a></p>


</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 9, 10-27-16: Digital Humanities Pedagogy -- Creative Writing and Multimedia
</div>
<div class="list-group-item">
<p class="bibl">Clark and Hergenrader, <span class="book-title">Creative Writing in the Digital Age</span> (hard copy only, no link)</p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 10, 11-3-16</div>

<div class="list-group-item">
    <p class="nonreading">NO CLASS: Matt Lavin will be out of town 11/2-11/4</p>
    <p class="nonreading">MODEST SUGGESTION: This could be a great week to work on your 20 hours</p></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 11, 11-10-16: Virtual Words, Augmented Reality, Gaming</div>
<div class="list-group-item">
    <p class="bibl">Jarmon, <a class="article-title" href="https://journals.tdl.org/jvwr/index.php/jvwr/article/view/624">"An Ecology of Embodied Interaction: Pedagogy and homo virtualis"</a></p>
    <p class="bibl">Becker, <a class="article-title" href="coming_soon">"Video Game Pedagogy: Good Games = Good Pedagogy"</a></p>
    <p class="bibl">Squire and Jan, <a class="article-title" href="coming_soon">"Mad City Mystery: Developing Scientific Argumentation Skills with a Place-based Augmented Reality Game on Handheld Computers"</a></p>
    </div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 12, 11-17-16: Team- and Project-based Learning</div>
<div class="list-group-item assignment">Due by start of class: <a class="assignment" ref="coming_soon">Skills Development Assignment</a></div>

<div class="list-group-item">
    <p class="bibl">Jazayeri, <a class="article-title" href="coming_soon">"Combining Mastery Learning with Project-Based Learning in a First Programming Course: An Experience Report"</a></p>
    <p class="bibl">Glass, Meyer, and Rose, <a class="article-title" href="coming_soon">"Universal Design for Learning and the Arts"</a></p>
    <p class="bibl">Ramsay, <a class="article-title" href="http://books.openedition.org/obp/1642">"Programming with Humanists: Reflections on Raising an Army of Hacker-Scholars in the Digital Humanities,"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
    </div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 13, 11-24-16</div>
<div class="list-group-item"><p class="nonreading">THANKSGIVING--NO CLASS</p></div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 14, 12-1-16: Critical Making and Fablabs</div>
<div class="list-group-item assignment">Due by end of day Tuesday, 11-29-16: <a class="assignment" ref="coming_soon">Lesson Plan Assignment</a></div>
<div class="list-group-item">
    <p class="bibl">Blikstein, <a class="article-title" href="coming_soon">"Digital Fabrication and ’Making’ in Education: The Democratization of Invention"</a></p>
    <p class="bibl">Sayers, <a class="article-title" href="coming_soon">"Tinker-Centric Pedagogy in Literature and Language Classrooms"</a></p>
    <p class="nonreading">Lesson plans discussion/workshop</p>
</div>
</div>

<div class="list-group">
<div class="list-group-item active">Week 14, 12-8-16: Farewells</div>

<div class="list-group-item">
    <p class="bibl">Saklofske, Clements, and Cunningham, <a class="article-title" href="http://books.openedition.org/obp/1650">"They Have Come, Why Won’t We Build It? On the Digital Future of the Humanities,"</a><span class="book-title"> Digital Humanities Pedagogy</span></p>
    <p class="bibl">Spiro, <a class="article-title" href="http://books.openedition.org/obp/1654">"Opening up Digital Humanities Education,</a><span class="book-title"> Digital Humanities Pedagogy</span></p>

</div>
</div>

<div class="list-group">
<div class="list-group-item active">Exam Week, </div>
<div class="list-group-item assignment">Due by end of 12-15-16: <a class="assignment" ref="coming_soon">Seminar Paper</a></div>
</div>

</div>
</div>
