{% extends "base.html" %}
{{ form.csrf_token }}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">


  {% if current_user.is_authenticated %}
  <h2>You are logged in</h2>
  <p><big><a href="{{url_for('logout')}}">Log out</a></big></p>
  {% else %}
  <div class="col-sm-6">
    <h2>You are logged out</h2>
    <p><big>Fill in the following information to log in</big></p>
  <form action="{{ url_for('login') }}" method=post>
     {{form.hidden_tag()}}
    <hr>

      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" value="public" class="field left" name=username>
      <!--<input class="form-control" type=text name=username>-->
      </div>
      <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control" type=password name=password>
      </div>
      <div class="form-group">
      <input type="submit" class="btn btn-primary" value=Login>
      </div>
          <hr>
  </form>
{% endif %}
</div>
</div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
