
<!-- Static navbar -->
    <nav class="navbar navbar-static-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Faculty Portfolio Materials</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cv">CV</a></li>
            <li><a href="/activity/2016">Academic Year 2015-2016</a></li>
            <li><a href="/activity/2017">Academic Year 2016-2017</a></li>
            <li><a href="/activity/2018">Academic Year 2017-2018</a></li>
            <!--<li><a href="/activity/2019">Academic Year 2018-2019</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
