{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="row">
<div id="contentholder" class="col-md-9">
<h3>Faculty Activity Report, {{year}}</h3>

{% for activitycategory in data %}
<div class="activity-category">
    <h4>{{ activitycategory.title }}</h4>
    <p>{{ activitycategory.description|safe }}</p>

</div>
{% endfor %}

</div>
</div>

{% else %}

{% include "public_login.html" %}

{% endif %}

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
