{{ form.csrf_token }}
<div class="col-sm-6">
  <h2>You are logged out</h2>
  <p><big>Fill in the following information to log in</big></p>
<form action="{{ url_for('login') }}" method=post>
   {{form.hidden_tag()}}
  <hr>

    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" type="text" value="public" class="field left" name=username readonly>
    <!--<input class="form-control" type=text name=username>-->
    </div>
    <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control" type=password name=password>
    </div>
    <div class="form-group">
    <input type="submit" class="btn btn-primary" value=Login>
    </div>
        <hr>
</form>
</div>
</div>
</div>
