{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <h3>Result of Course Materials Submission</h3>
  <hr>
<div class="row">
  <div class="col-lg-12">

    {% if status == "success" %}

          <h3 class="alert alert-success">You did it!</h3>
          <p><big>Click to add <a href="/create">more content</a></big></p>
        </div>
      </div>
    </div>
    {% elif status == "error" %}
    {% include "errors.html" %}
    {% endif %}
    {% if status== "error" or not status %}

      <div class="row"><div class="col-md-12">
        <p><big>Don't use your browser's "back" button. Click to go back and <a href="/create">create content</a></big></p>
      </div></div>
      {% endif %}
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
