.navbar-toggle .icon-bar {
background-color: black;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  background-image: linear-gradient(to right, #0D0D0D, #353535);

}
div.row>div.col-md-8 {
  background-color: #FEFEFE;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

.list-group-item.activity {
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    color: white;
}

.list-group-item.assignment {
    background-color: #e38d13;
    border: 1px solid #e38d13;
    color: white;
}
.book-title {
    font-style: italic;
}
a.assignment {
    color: white;
    text-decoration: underline;

}
a.assignment:hover {
    color: black;
    cursor: pointer;
}
a.assignment:active {
    color: white;
    cursor: pointer;
}
