<!DOCTYPE html>
<html>
<head>

  <!-- Credit: http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap -->
  <title>Humanities Data</title>
  <meta charset="utf-8" />

  <link type="text/css" rel="stylesheet" href="/static/dist/css/bootstrap.css" />
  {% block custom_css %}{% endblock %}
  <link type="text/css" rel="stylesheet" href="/static/style.css" />
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
  <!-- Static navbar -->
{% include "menu.html" %}

{% block body %} {% endblock %}
  <!-- JavaScript -->
  <script src="/static/js/jquery-3.1.0.min.js"></script>
  <script src="/static/dist/js/bootstrap.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89330016-3', 'auto');
    ga('send', 'pageview');

  </script>
{% block custom_js %}{% endblock %}
</body>
</html>
