<div class="container">
<div class="row">
<div class="col-md-12"><h2>Submit a {{resource_type}}</h2></div>
</div></div>
<div class="container">

<div class="row">
        <form name="add_a_resource" method="POST" action="{{ url_for('submit') }}">
            <div class="col-md-12 form_row">{{ add_resource.hidden_tag() }}</div>

            {% if current_user.is_admin %}
            <div class="col-md-12 form_row">{{ add_resource.resource_type.label }}</div> <div class="col-md-8">{{ add_resource.resource_type(class_="form-control") }}</div>
            <div class="col-md-4 error"></div>
            {% endif %}

            {% for corefield in [add_resource.submitted_by, add_resource.email, add_resource.title, add_resource.uri, add_resource.tags] %}
            <div class="col-md-12 form_row">{{ corefield.label }}<span class="required"></span></div> <div class="col-md-8 form_row">{{ corefield(class_="form-control") }}</div>
            {% endfor %}

            {% if resource_type == "dataset" %}
            {% for datafield in [add_resource.modified, add_resource.publisher, add_resource.contact_point, add_resource.identifier, add_resource.access_level,
                add_resource.bureau_code, add_resource.license, add_resource.rights, add_resource.spatial, add_resource.temporal] %}
            <div class="col-md-12 form_row">{{ datafield.label }}</div> <div class="col-md-8 form_row">{{ datafield(class_="form-control") }}</div>
            {% endfor %}
            {% endif %}

            <div class="col-md-12 form_row">{{ add_resource.description.label }}</div> <div class="col-md-8 form_row">{{ add_resource.description(rows='22',cols='100', class_="form-control") }}</div>
            <div class="col-md-4 error"></div>

            <!--<div class="col-md-12 form_row">{{ add_resource.recaptcha }}</div>-->

        <div class="col-md-12 form_row">{{ add_resource.submit(id="submit_resource", class_="btn btn-primary")}}</div>
        </form>

            </div>
</div>
