<!DOCTYPE html>
<html>
<head>

  <!-- Credit: http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap -->
  <title>Humanities Data</title>
  <meta charset="utf-8" />

  <link type="text/css" rel="stylesheet" href="static/dist/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="static/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script>
  $(document).ready(function() {
    $('a[rel="relativeanchor"]').click(function(){
        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        },500);
        return false;
    });
  });</script>

</head>
<body>
  <!-- Static navbar -->

      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#top">Top</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#about" rel="relativeanchor">About</a></li>
              <li><a href="#search" rel="relativeanchor">Search</a></li>
              <li><a href="#submit" rel="relativeanchor">Submit</a></li>
              <li><a href="#signup" rel="relativeanchor">Sign Up</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
<div class="container outer">
  <div id="top" class="jumbotron vertical-center">
    <div class="container text-center">
      <h1>Humanities Data</h1>
      <div class="row">
        <h2>About this website</h2>
        <p>What we are trying to do, and why we are trying to do it</p>
        <p><a class="btn btn-success btn-lg" href="#about" rel="relativeanchor" role="button">Read More</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
          <h2>Find Data</h2>
          <p>Our core service will include a search engine parmalink tagging.</p>
          <p><a class="btn btn-primary btn-lg" href="#search" rel="relativeanchor" role="button">Search the Collection</a></p>
        </div>
        <div class="col-md-4">
          <h2>Submit Data</h2>
            <p>Bibliographical, Network, Geospatial, Text, and More</p>
          </ul>
          <p><a class="btn btn-primary btn-lg" href="#submit" rel="relativeanchor" role="button">Find Out What We Track</a></p>
       </div>
        <div class="col-md-4">
          <h2>Volunteer</h2>
          <p>Volunteer to help out or ask to be notified as features develop.</p>
          <p><a class="btn btn-primary btn-lg" href="#signup" rel="relativeanchor" role="button">Sign Up</a></p>
        </div>
      </div>

  </div>
</div>
</div>
<div id="about"></div>
<div class="container outer">
  <div class="jumbotron vertical-center">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
        <h2 class="container_head">About</h2>
      </div>
      <div class="col-md-12 inner">
        <p>Open data is the future of the scholarly field of digital humanities. A culture of openness and collective access
          to shared digital objects of study will enable digital humanists to:</p>
          <ol>
            <li>Collaborate more effectively</li>
<li>Interrogate and invalidate insufficiently rigorous scholarship</li>
<li>Verify and build upon excellent scholarship</li>
<li>Avoid duplicating the intense labor of data creation and normalization</li>
<li>Learn new methods and approaches at a pace that’s consistent with the speed at which DH moves</li>
</li>
          </ol>

        <p>Currently, the open data movement in digital humanities is growing but not yet dominant. It’s all too common to
          publish data-driven humanities scholarship without making one’s data available to the public. Concerns about
          proprietary data, copyright, vendors’ terms and conditions, and long-term data curation are significant roadblocks
          and are not to be dismissed out of hand. In turn, an overall reticence about data for the humanities (or using the
          term <em>data</em> when discussing DH) creates a climate where discussions about open data are more difficult to
          have.</p>
        <p>Humanitiesdata.com seeks to help address some of these roadblocks by collecting and disseminating information about
          publicly available data and the people who are creating it. There are numerous places to find data of relevance to the
          humanities, including the Corpora listserv and the digital humanities Slack channel, but a more consolidated web-based
          clearinghouse for web-hosted resources can only increase visibility and help newcomers to digital humanities find their
           way. As a result, the mission of humanitiesdata.com is not to replace any existing resources but, rather, to
           increase the overall number of digital pathways to humanities data, and to make it easier to search for data by
           its relevance to specific subfields.</p>
        <p>Humanitiesdata.com is starting with two content types: datasets and recipes. We may expand to include additional
          resources types if there is interest. Users can search for data by keyword, or by using the open tag structure provided by Humanitiesdata.com</p>
        <p>Similarly, would-be contributors are encouraged to submit datasets and recipes.</p>
        <p>A dataset contribution should describe the data, provide a link to a web-based endpoint where the data can be
          found, and suggest at least three tags for the dataset</p>
        <p>A recipe should also include a descrption, tags, and a link. The link to lead to a code snippet on a publicly available endpoint, such as
        Gist or JSfiddle. Code should not be pasted into the submission description. One of your tags should indicate the programming language of the snippet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="search"></div>
<div class="container outer">
  <div class="jumbotron vertical-center">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12" >
        <h2 class="container_head">Search</h2>
      </div>
      <div class="col-md-12 inner" >
          <p>Under construction</p>
          <p>Under construction</p>
          <p>Under construction</p>
          <p>Under construction</p>
          <p>Under construction</p>
          <p>Under construction</p>
        </div>
      </div>
    </div>
  </div>

</div>
<div id="submit"></div>
<div class="container outer">
  <div  class="jumbotron vertical-center">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12" >
        <h2 class="container_head">Submit</h2>
      </div>
      <div class="col-md-12 inner" >
        <p>Under construction</p>
      </div>
      </div>
    </div>
  </div>

</div>
<div id="signup"></div>
<div class="container outer">
  <div class="jumbotron vertical-center">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12" >
        <h2 class="container_head">Sign up</h2>
      </div>
      <div class="col-md-12 inner" >
        <p>Under construction</p>
      </div>
      </div>
    </div>
  </div>

</div>

  <!-- JavaScript -->
  <script src="static/js/jquery-3.1.0.min.js"></script>
  <script src="static/dist/js/bootstrap.js"></script>

</body>
</html>
