<footer class="footer">
<div class="container">
    <div class="col-md-12">
    <div class="social navbar-brand">Some Affiliations/Accounts:</div> 
    <div id="soc_media" class="collapse navbar-collapse">
      <ul id="icon_nav" class="nav navbar-nav">
      <li class="social"><a href="http://github.com/mjlavin80"><img src="/static/images/GitHub_Logo.png"/></a></li>
      <li class="social"><a href="http://english.pitt.edu"><img src="/static/images/eng_logo_pitt.png"/></a></li>
      <li class="social"><a href="http://dhrx.pitt.edu"><img src="/static/images/dhrx_logo.png"/></a></li>
    </ul>
  </div>
    </div>  


</div>
</footer>
