{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <h3>Planning Snapshot, {{today}}</h3>
  <hr>

<div class="col-md-6">
<h4>Previous Class</h4>
<div class="list-group">
<div class="list-group-item" id="previous">{{ last.name }}</div>
{% for ass in last.assignments|sort(attribute='id') %}
<div class="list-group-item assignment">Due by the start of class: <a class="assignment" href="/assignments/{{ass.link_title}}">{{ass.title}}</a></div>
{% endfor %}

{% for reading in last.readings|sort(attribute='id') %}
<div class="list-group-item">
<p class="bibl">{{reading.last_name}}, {{reading.first_name}}. "{{reading.article_title}}," {% if reading.book_title %}<span class="book-title">{{reading.book_title}}. {% endif %}</span> {{reading.pubplace}}, {{reading.publisher}}, {{reading.pubdate}}. {{reading.page_range}}. [<a href="{{reading.link}}">Link</a>]</p>
</div>
{% endfor %}

{% for activity in last.activities|sort(attribute='order') %}
<div class="list-group-item">
<p>{{activity.title|safe}} ... <a href="activities/{{activity.id}}"><strong>Read More</strong></a></p>
</div>
{% endfor %}

</div>

<h4>Next Classes</h4>
{% for n in next_three %}
<div class="list-group">
<div class="list-group-item active">{{ n.name }}</div>
{% for ass in n.assignments|sort(attribute='id') %}
<div class="list-group-item assignment">Due by the start of class: <a class="assignment" href="/assignments/{{ass.link_title}}">{{ass.title}}</a></div>
{% endfor %}

{% for reading in n.readings|sort(attribute='id') %}
<div class="list-group-item">
<p class="bibl">{{reading.last_name}}, {{reading.first_name}}. "{{reading.article_title}}," {% if reading.book_title %}<span class="book-title">{{reading.book_title}}. {% endif %}</span> {{reading.pubplace}}, {{reading.publisher}}, {{reading.pubdate}}. {{reading.page_range}}. [<a href="{{reading.link}}">Link</a>]</p>
</div>
{% endfor %}

{% for activity in n.activities|sort(attribute='order') %}
<div class="list-group-item">
<p>{{activity.title|safe}} ... <a href="activities/{{activity.id}}"><strong>Read More</strong></a></p>
</div>
{% endfor %}
</div>
{% endfor %}

</div>

<div class="col-md-6">
<h4>This Week's Reminders</h4>

<ul>
  <li>Last Assignment: <a href="/assignments/{{ last_due_date.assignments[0].link_title }}">{{last_due_date.assignments[0].title}}</a>
  </li>
  <li>Due Date: {{ last_due_date.name }}</li>
  <li>Collected {{ days_ago }} days ago</li>
</ul>

<ul>
  <li>Next Assignment: <a href="/assignments/{{ next_due_date.assignments[0].link_title }}">{{next_due_date.assignments[0].title}}</a>
  </li>
  <li>Due Date: {{ next_due_date.name }}</li>
  <li>Collecting {{ days_to_next }} days from now</li>
</ul>


<h4>Daily Reminders</h4>
<ul>
  <li>Check the Calendar</li>
  <li>Do Necessary Prep Work</li>
  <li>Take Attendance</li>
  <li>Grading when Necessary</li>
  <li>Answer Student Emails</li>
  <li>Check Academic Calendar</li>
</ul>


<h4>Asana Project Tasks</h4>
<ul>
    {% for task in project_tasks %}
  <li><strong>{{task['name']}}:</strong> (Due on {{task['due_on']}}) <a href="https://app.asana.com/0/{{task['projects'][0]['id']}}/{{task['id']}}" target="blank">View in Asana</a></li>
  {% endfor %}
</ul>
</div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
