mysql-python
Flask==2.3.2
sqlalchemy
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.3
Flask-Script
Flask-Migrate
simplejson
flask-login
flask-security
flask-admin
flask-bcrypt
dictalchemy
WTForms-Alchemy
requests[security]
pandas
requests
beautifulsoup4