html, body {
  height: 100%;
  padding-top: 30px;
}
#search, #signup, #about, #submit{
  padding-bottom: 35px;
}
#submit_resource {
  padding: 10px;
  margin-bottom: 15px;
}

.form_row {
  margin-bottom: 4px;
    margin-top: 4px;
}
.container.outer{
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100vw;
  display: block;

}
.jumbotron.vertical-center {
  background-color: #EEE;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 14px;
}

.vertical-center {
  width: 100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */

}

.vertical-center > .container {
  max-width: 100%;
  /*border: 1px solid #FFD69A;*/
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}
}


@media (max-width: 768px) {
  .vertical-center:before {
    /* height: auto; */
    display: none;
  }
}

.inner {
text-align: left;
}
.jumbotron ol {
  margin-bottom: 15px;
font-size: 21px;
font-weight: 200;
}
.form-control {
      height: 100%;
}
.no-float {
    margin: 0 auto;
    float: none;
    display: inline-block;
}
.middle {
    text-align: center;
    display: block;
    float: none;
}
.required {
    color:red;
    font-weight: bold;
}
.btn.btn-default.filter {
  min-width: 16%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 26px;
}
.btn.btn-success {
  margin-bottom: 10px;
  margin-right: 6px;
}
#faq {
  width: 100%;
  font-size: 1000%;
}
.form-control {
  margin-bottom: 15px;
}
