{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div id="contentholder" class="col-md-12">
  <h2><big>Book Reviews</big>, American Periodicals Series</h2>
{% if aps_id %}
<div>Headline: {{row.record_title}}</div>
<div>Periodical: {{row.pub.title}}</div>
<div>Publication Date: {{row.numeric_pub_date}}</div>
<div>Volume: {{row.volume}}</div>
<div>Issue: {{row.issue}}</div>
<div>APS Record ID: {{ aps_id }}</div>
<div>Abstract: {{row.abstract}}</div>
<hr>
<div>
<a href="/static/pdf/{{row.record_id}}.pdf" target="blank"><button type="button" class="btn btn-primary btn-lg">Open PDF in New Tab</button></a>
</div>
<hr>
<form name="details" method="POST" action="/update/{{ aps_id }}/">
<div class="col-md-12">
<div class="form-group">
	<div class="col-md-2">
		<label for="review_type" class="control-label">Category:</label>
	</div>
<div class="col-md-8">
<select class="form-control" name="review_type" required>
  <option disabled="choose" selected>Choose One</option>
  <option value="single_focus">Single Work Review</option>
  <option value="multi">Multi-Work Review</option>
  <option value="not_review">Non-Review Content</option>
  <option value="brief">Brief or Mostly Quotes Review</option>
  <option value="cluster">Cluster of Reviews</option>
  <option value="no_pdf">Review Link Doesn't Work</option>
</select>
</div>
</div>
</div>

<div class="col-md-12">
	<hr>
	<input id="submit" class="btn btn-primary btn-lg" type="submit" value="Submit"> 
</div>
</form>
	<hr>
</div>
{% endif %}
</div>
{% endblock %}

{% block footer %}
{% if aps_id %}
<script>

</script>
{% endif %}
{% endblock %}
