<h4>Seminar Paper</h4>
<p>Due: 12-15-16 by email (and possibly digital project link)</p>
<p>You will have two options for this one: a traditional, article-length seminar paper, or a conference-length paper with a digital project/module component.
  I'll say more about this assignment and your options as we get closer to the end of the term, but the basic idea here is that you'll have the opportunity to
  build on the work you did for the skills development assignment.
  </p>
  <p><a href-"/assignments/seminar_paper">Read More</a></p>
