<div class="row bottom"><div class="col-md-12 text-center"><span class="glyphicon glyphicon-asterisk"></span></div>
<footer class="footer">
<div class="container">
    <div class="col-md-3">
  <p>Instructor:</p>
  <p class="text-muted">{{basics.instructor}}</p>
</div>
<div class="col-md-3">
  <p>Office:</p>
  <p class="text-muted">{{basics.office}}</p>
  </div>
  <div class="col-md-3">
  <p>Office Hours:</p>
  <p class="text-muted">{{basics.office_hours}}</p>
  </div>
  <div class="col-md-3">
  <p>Email:</p>
  <p class="text-muted">{{basics.email}}</p>
  </div>


</div>
</footer>
