{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div id="contentholder" class="col-md-9">
  <h3>Weekly Calendar</h3>
  <hr>


{% for week in weeks|sort(attribute='week_number') %}
<h4>{{ week.week_number }}: {{ week.week_topic }}</h4>

{% for day in week.days|sort(attribute='name') %}
<div class="list-group">
<div class="list-group-item active">
{{ day.name }}</div>

{% if day.readings|length != 0 %}
{% for ass in day.assignments|sort(attribute='id') %}
<div class="list-group-item assignment">Due by the start of class: <a class="assignment" href="/assignments/{{ass.link_title}}">{{ass.title}}</a></div>
{% endfor %}
{% endif %}

{% if day.readings|length != 0 %}
<div class="list-group-item"><h4 class="list-group-item-heading">Today's Readings:</h4></div>
<div class="list-group-item reading">
{% for reading in day.readings|sort(attribute='last_name')|sort(attribute='public', reverse=True) %}
{% if reading.public == "True" %}
<p class="bibl">{{reading.last_name}}, {{reading.first_name}}. "{{reading.article_title}}," {% if reading.book_title %}<span class="book-title">{{reading.book_title}}. {% endif %}</span> {{reading.pubplace}}, {{reading.publisher}}, {{reading.pubdate}}. {{reading.page_range}}. [<a href="{{reading.link}}">Link</a>]</p>
{% elif reading.public == "Supplemental" %}
<p class="bibl"><strong>Recommended but Not Required: </strong>{{reading.last_name}}, {{reading.first_name}}. "{{reading.article_title}}," {% if reading.book_title %}<span class="book-title">
{{reading.book_title}}. {% endif %}</span> {{reading.pubplace}}, {{reading.publisher}}, {{reading.pubdate}}. {{reading.page_range}}. [<a href="{{reading.link}}">Link</a>]</p>
{% elif reading.public == "Canceled" %}
<p class="bibl-canceled"><strong>Canceled: </strong>{{reading.last_name}}, {{reading.first_name}}. "{{reading.article_title}}," {% if reading.book_title %}<span class="book-title">{{reading.book_title}}. {% endif %}</span> {{reading.pubplace}}, {{reading.publisher}}, {{reading.pubdate}}. {{reading.page_range}}. [<a href="{{reading.link}}">Link</a>]</p>
{% endif %}
{% endfor %}
</div>
{% endif %}

{% if day.activities|length != 0 %}

<div class="list-group-item"><h4 class="list-group-item-heading">Classwork and Reminders:</h4></div>
<div class="list-group-item activity">

{% for activity in day.activities|sort(attribute='order') %}
{% if activity.public == "True" %}
<p class="bibl">{{activity.title|safe}} ... <a href="activities/{{activity.id}}"><strong>Read More</strong></a></p>

{% endif %}
{% endfor %}
</div>
{% endif %}
</div>
{% endfor %}

{% endfor %}
</div>

{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
