{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div id="contentholder" class="col-md-9">
<h3>Policies</h3>
<p>Here you will find information on required readings, import university policies, and course-specific policies like attendance and cell phone use.</p>


{% for policy in policies %}
<div class="policy">
    <h4>{{ policy.title }}</h4>
    <p>{{ policy.description|safe }}</p>

</div>
{% endfor %}

</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
