{% extends "base.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
<div id="contentholder" class="col-md-9">
<h3>Readings</h3>
<p>This page is a quick reference for all course readings, some hosted locally, most linked externally. If you discover a broken link, please notify me immediately.</p>


{% for reading in readings|sort(attribute='last_name') %}
<div class="list-group-item">
<p class="bibl">{{reading.last_name}}, <a class="article-title" href="{{reading.link}}">{{reading.article_title}}</a>, {% if reading.book_title %}<span class="book-title">{{reading.book_title}}. {% endif %}</span> {{reading.pubplace}}: {{reading.publisher}}, {{reading.pubdate}}</p>
</div>
{% endfor %}
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
